* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100dvh;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    overflow: hidden;
    background: #e8e8e8;
}

.top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4vw;
  padding-right: 35vw;
  background: #e8e8e8;
}

.nav-links {
  display: flex;
  gap: clamp(1rem, calc(5vw + 1rem), 5rem);
}

.nav-links a {
  text-decoration: none;
  color: #000;
  font-size: clamp(1.2rem, calc(1.9vw + 0.1rem), 2rem);
  font-weight: 500;
}

.hero {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4vw;
  padding-right: 35vw;
  padding-top: 20vw;
}

.title {
  font-size: clamp(2.4rem, calc(4vw + 0.5rem), 25rem);
  font-weight: 600;
  line-height: 1;
  margin-bottom: 0.2em;
}

.subtitle {
    display: flex;
    gap: clamp(1rem, calc(5vw + 1rem), 5rem);
    font-size: clamp(1rem, 2.2vw, 1.3rem);
}

.h1{
    font-size: clamp(1.8rem, calc(7rem + 1vw), 5rem);
}